<!-- Barra de navegación superior de la página con el menú y el logo -->
<header>
    <!-- Barra navegación -->
    <div class="navbar navbar-default">
        <div class="col-lg-10 col-lg-offset-1">
        <div class="navbar-header">
            <!-- Botón desplegar menú responsive -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-extended="false">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- LOGO -->
            <a class="navbar-brand" [routerLink]="['/']">
               <span><em>BBDD</em> Políticos</span>
            </a>
        </div>
            <!-- Menú -->
            <div class="collapse navbar-collapse " id="menu">
                <ul class="nav navbar-nav center">
                    <!-- Acceso a la lista completa de los políticos -->
                    <li>
                        <a [routerLink]="['/']">
                             LISTA COMPLETA
                        </a>
                    </li>
                    <!-- Acceso al formulario para crear un registro -->
                    <li>
                        <a [routerLink]="['/create']">
                            AÑADIR REGISTRO
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
        </div>
</header>
<router-outlet></router-outlet>